.place__button{
    background-image: url('../../../images/button_heart.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s ease;
    width:20.76px;
    height:18.13px;
    border: none;
    background-color: inherit;
    }
   