.place__button_active{
    background: transparent url('../../../images/black_Like_Button.svg') no-repeat;
    background-size: contain;
    width:20.76px;
    height:18.13px;
    border: none;
    opacity: 1;
}