.popup-cards__content{
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding: 36px;
  }
  
  @media screen and (max-width: 767px) {
    .popup-cards__content {
      max-width:282px;
      margin-top: 123px;
      padding: 22px;
      padding-bottom: 0;
    }
  }
  
  .popup-cards__content:before {
    color: #fff;
    font-size: 40px;
    display: block;
    width: 30px;
  }