.popup__submit{
font-family: 'Inter';
background-image: url('../../../images/form__buttom.png');
width: 358px;
height: 50.15px;
margin-top: 48px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: 0.5s ease;
border-radius: 2px;
padding: 0;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #fff;
z-index: 3;
}
.popup__submit:hover{
opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .popup__submit {
      height:46px;
      width:238px;
      margin-top: 45px;
      font-size: 14px;
      line-height: 17px;
    }
  }
