.place__navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    max-width: 246px;
    padding-left: 21px;
    padding-right: 15px;
    margin-bottom: 31px;
    align-items: center;
    }
    