.profile__info{
display: grid;
grid-template-columns: 5fr 0.7fr;
max-width: 336px;
margin: 0;
}

@media screen and (max-width: 1279px) {
.profile__info{
grid-template-columns: 3.3fr 0.7fr;
}
}
@media screen and (max-width: 1023px) {
.profile__info{
justify-content: center;
text-align: center;
}
}
