.profile__info{
display: grid;
grid-template-columns: 5fr 0.7fr;
max-width: 336px;
margin: 0;
}
@media screen and (max-width:767px){
.profile__info{
text-align: center;
justify-content: center;
max-width: 282px;
}
}
